/* * {
  border: solid red 1px;
} */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff5ee;
  /* #fffaf0 */
  /*  <weight>: Use a value from 400 to 900
<uniquifier>: Use a unique and descriptive class name */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Playfair Display', sans-serif; */
  /* font-optical-sizing: auto; */
  font-weight: 190;
  font-style: normal;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5em;
  /* flex: 1 1 1; */
}
a:visited {
  color: inherit;
}
link {
  text-decoration: none;
}
.links-container {
  margin-left: auto;
  margin-right: 10%;
  margin-top: 0px;
}

.main-layout {
  padding: 20px;
  flex-grow: 1;
}

.footer {
  margin-top: auto;
  padding: 10px;
}

.heading {
  margin-left: 4%;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
}

.links-container {
  display: flex;
  align-items: center;
}

.link-item {
  margin: 10px;
  text-decoration: none;
}

/* Home component */
/* ==================== */
.home {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  /*  */
}

.home-text {
  margin: 20px 20px;
}

.home-text h1,
.home-text h3 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
}

/* .home-text h1,
.home-text h3, */
.home-text p {
  margin-top: 25px;
  line-height: 150%;
}

#home-image {
  margin: 0px 20px;
  margin-left: 50px;
  border-radius: 12px;
  min-height: 200px;
  min-width: 40%;
  max-height: 1000px;
  height: 40%;
  width: 40%;
}
#link-to-about {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
